@model LearnEnglish.BusinessObjects.EngWord

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Word</title>

    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>

</head>
<body>
    <div>
        <h3>Add new Word</h3>
        <form method="POST" action="">
            <table>
                <tr>
                    <td><p> Word </p></td>
                    <td><input type="text" id="name" name="name" required autocomplete="off"/> </td>
                </tr>
                <tr>
                    <td><p> Translation </p></td>
                    <td>
                        <input type="text" id="armTranslation" name="armTranslation" required autocomplete="off"/>
                    </td>
                </tr>
                <tr><td><input type="submit" id="submit" value="Submit"/> </td>
                </tr>
            </table>
        </form>
    </div>
    <br />
    @Html.ActionLink("Back to Start page", "Start");


</body>
</html>
