@model LearnEnglish.Models.EnglishWords

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddWord</title>
</head>
<body>
    <div>
        <h3>Add new Word</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p> Word </p></td>
                    <td><input type="text" name="name" autocomplete="off"/> </td>
                </tr>
                <tr>
                    <td><p> Translation </p></td>
                    <td>
                        <input type="text" name="armTranslation" autocomplete="off"/>
                    </td>
                </tr>
                <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
            </table>
        </form>
    </div>
    <br />
    @Html.ActionLink("Back to Start page", "Start");
</body>
</html>
