@model LearnEnglish.BusinessObjects.EngWord

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWord</title>
</head>
<body>

         
    <div>
        <h3>Delete Word</h3>
        <form method="POST" action="">
            <table>
                <tr>
                    <td><p> Word </p></td>
                    <td><input type="text" name="name" value="@Model.name" autocomplete="off" readonly/> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /> </td>
                </tr>
            </table>
        </form>

    </div>
    <br />
    @Html.ActionLink("Back to list", "ListAllWords");


   
   

</body>
</html>