@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWord</title>

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


    <script>
       
    </script>

</head>
<body>

    @using (Html.BeginForm("DeletionBox", "Home", FormMethod.Post))
    {
        <fieldset>
            <p>Are you sure?</p>

            <input type="submit" value="Yes" id="yes" width="100" />
            <button type="button" onclick="location.href='@Url.Action("ListAllWords", "Home")'" width="100" >No</button>
        </fieldset>
    }

</body>
</html>
