
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <button id="GetWords" type="button" onclick="location.href='@Url.Action("GetWords", "Home")'">List all words</button>
    <button id="AddWord"  type="button" onclick="location.href='@Url.Action("AddWord", "Home")'">Add new Word</button> <br /> <br />
    <button id="StartQuize" type="button" onclick="location.href='@Url.Action("QuizGetWords", "Home")'">Quiz Test</button>

</body>
</html>
