@model IEnumerable<LearnEnglish.Models.EnglishWords> 

@{
    ViewBag.title_1 = "Words";
    ViewBag.title_2 = "Error";
}

@using LearnEnglish.Models;

<!DOCTYPE html>

<html>
<head>
    <title>Start</title>
</head>
<body>

    @if (@Model != null)
    {
        <h2>@ViewBag.title_1</h2>
        <ul>
            @foreach (EnglishWords word in @Model)
            {
                <li>@word.name</li>
            }
        </ul>
    }
    else
    {
        <h2>@ViewBag.title_2</h2>
    }

</body>
</html>
